@using MRTwitter.Resources;

<div class="tweet-search">
    <h3>Search for updates:</h3>
    @using (Ajax.BeginForm("Search", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "resultList" }, new { id = "search-form" }))
    {
        <label id="search-text-label" for="search-text" class="reader">@GlobalResources.EnterText</label>
        <input type="text" required id="search-text" name="phrase" placeholder="@GlobalResources.SearchPhrase" maxlength="25" />
        <input type="submit" id="search-button" value="@GlobalResources.Search" />
    }
</div>
<div class="tweet-search-results" id="resultList">
</div>