@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrap">
    <div class="content-wrap">
        <section role="main" id="content">
            @Html.Partial("~/Views/Home/_Search.cshtml")
        </section>
        @{Html.RenderAction("GetTweetByUserId");}
    </div>
</div>